<!DOCTYPE html>
<html lang="es">
        <head>
                <meta charset="utf-8">
                <meta name="author"content="walter">
                <title>WalterBlogs</title>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
        <body>
                <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand"href="/">Inicio</a>
                        <a class="navbar-brand"href="/signin">Inicia Secion</a>
                        <a class="navbar-brand"href="/signup">Registrate</a>
                </nav>
		<br><center><h1>Bienbenido</h1></center>
		<ul class="list-group">
			<li class="list-group-item"><a href="/hack">hacking</a></li>
			<li class="list-group-item"><a href="/redes">Redes</li>
			<li class="list-group-item"><a href="/programacion">programacion</a></li>
			<li class="list-group-item"><a href="/linux">Linux</a></li>
		</ul>
	</body>
</html>
