<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>WalterBlogs</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand"href="/">Inicio</a>
			<a class="navbar-brand"href="/signin">Inicia Secion</a>
			<a class="navbar-brand"href="/signup">Registrate</a>
		</nav>
		<br><center><h1>WalterBlogs</h1></center>
		<div class="card">
			<div class="card-body">
				Bienvenido a walterblogs un blog sobre tecnologia donde podras encontrar todo lo relacionado 
				con sistema operativos programacion hacking redes entre muchos otros temas interesantes
				registrate o ingresa sin registrarte y descubre todo lo que puedes aprender junto a mi
				<a class="btn btn-info btn-block"href="/blog">Iniciar</a>
			</div>
		</div>
	</body>
</html>
